/* Espaço para variaveis de cores */

:root {
    --background-primary: var(--color-primary);
    --background-secondary: var(--color-secondary);
    --background-footer: #7e2f26;

    /* Cores da palheta */
    --color-primary: #F7f3ea;
    --color-secondary: #7e2f26;
    --color-tertiary: #e8dccb;
    --color-spare: #242326;

    /* Cores dos Botões Custom */
    --color-button-header: #e8dccb;
    --color-buttonScroll: #242326;


    /* Cores das fontes */
    --font-primary: #242326;
    --font-secondary: #F7f3ea;
    --font-black: #242326;
}