body {
  font-family: 'Inconsolata', monospace;
  background-color: var(--background-primary);
}

.App {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  box-sizing: border-box;
  flex-direction: column;
}
