.section-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 3rem 5rem;
}

.panel-home {
    display: flex;
    justify-content: space-between;
    gap: 110px;
    width: 100%;
    margin-top: 10px;
}

.left-home {
    margin-top: 80px;
    margin-left: 300px;
}

.text-profissional-home {
    font-size: 32px;
    font-weight: 600;
    margin: 0px;
    color: var(--color-secondary);
}

.text-name-home {
    color: var(--font-black);
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-size: 48px;
    margin-top: 12px;
    margin-bottom: 5px;
    font-weight: 500;
}

.text-profile-home {
    font-size: 24px;
    text-align: justify;
    width: 700px;
    color: #626262;
}

.text-profile-home-extra {
    font-size: 16px;
    text-align: justify;
    font-weight: 600;
    width: 700px;
    color: #4b4b4b;
}

.buttons-home {
    display: flex;
}

.redeSocial-home {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 15px;
}

.right-home {
    display: flex;
    flex-direction: column;
}

.languageSelector-home {
    margin-top: 10px;
    align-self: flex-end;
}

.image-home {
  position: absolute;
  top: 0px;
  right: 0;
  width: 700px;
  height: 680px;
  z-index: -1; 
  pointer-events: none;
  overflow: hidden;
}

.foreground-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Telas entre 1300px e 1900px */
@media (max-width: 1900px) and (min-width: 1301px) {
    .section-home {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding: 3rem 5rem;
    }

    .panel-home {
        display: flex;
        justify-content: space-between;
        gap: 110px;
        width: 100%;
    }

    .left-home {
        margin-top: 80px;
        margin-left: 0px;
    }

    .text-profissional-home {
        font-size: 24px;
        font-weight: 600;
        margin: 0px;
        color: var(--color-secondary);
    }

    .text-name-home {
        color: var(--font-black);
        font-family: 'Georgia', 'Times New Roman', Times, serif;
        font-size: 38px;
        margin-top: 12px;
        margin-bottom: 5px;
        font-weight: 500;
    }

    .text-profile-home {
        font-size: 18px;
        width: 500px;
        color: #626262;
    }

    .text-profile-home-extra {
        font-size: 16px;
        text-align: justify;
        font-weight: 600;
        width: 500px;
        color: #4b4b4b;
    }

    .buttons-home {
        display: flex;
    }

    .redeSocial-home {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-left: 15px;
    }

    .right-home {
        display: flex;
        flex-direction: column;
    }

    .languageSelector-home {
        margin-top: 10px;
        align-self: flex-end;
    }

    .image-home {
        width: 650px;
        height: 700px;
    }
}

/* Telas entre 768px e 1300px*/
@media (max-width: 1300px) and (min-width: 769px) {
    .section-home {
        padding: 3rem 1.5rem;
    }
    
    .panel-home {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        gap: 0px;
        
    }

    .left-home {
        margin: 0;
    }
    
    .text-profissional-home {
        font-size: 24px;
        width: auto;
    }

    .text-name-home {
        font-size: 18px;
        margin-top: 12px;
    }

    .text-profile-home {
        font-size: 18px;
        width: 80%;
    }

    .text-profile-home-extra {
        font-size: 15px;
        width: 80%;
    }
    
    .right-home {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        margin: -0.6rem -1.5rem 0rem -1.5rem;
    }
    
    .languageSelector-home {
        margin-top: 25px;
        margin-left: 1.5rem;
        align-self: flex-start;
    }
    
    .image-home {
        position: relative;
        width: 400px;
        height: 290px;
        margin: 0;
    }
    
    .foreground-image {
        position: absolute;
        top: 50%;
        left: 65%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 320px;
        height: auto;
    }
}

/* Estilos para Mobile */
@media (max-width: 768px) {

    .section-home {
        padding: 3rem 1.5rem;
    }
    
    .panel-home {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        gap: 0px;
        
    }

    .left-home {
        margin: 0;
    }
    
    .text-profissional-home {
        font-size: 22px;
        width: auto;
    }

    .text-name-home {
        font-size: 16px;
        margin-top: 12px;
    }

    .text-profile-home {
        font-size: 16px;
        width: auto;
    }

    .text-profile-home-extra {
        font-size: 13px;
        width: auto;
    }
    
    .right-home {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        margin: -0.6rem -1.5rem 0rem -1.5rem;
    }
    
    .languageSelector-home {
        margin-top: 25px;
        margin-left: 1rem;
        align-self: flex-start;
    }
    
    .image-home {
        position: relative;
        width: 300px;
        height: 230px;
        margin: 0;
    }
    
    .foreground-image {
        position: absolute;
        top: 50%;
        left: 65%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 220px;
        height: auto;
    }
}